<!DOCTYPE html>

<%= stylesheet_link_tag "application" %>
<html>
<head>
  <title>Ticketee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |key, value| %>

		<div class='flash' id='<%= key %>'>
			<%= value %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
